<header>
    <!-- Top Bar Start -->
    <div class="topbar">

        <!-- LOGO -->
        <div class="topbar-left">
            <a href="../index.html" class="logo">
                    <span>
                        <img src="../../static/assets/images/logo-sm.png" alt="logo-small"
                             class="logo-sm">
                    </span>
                <span>
                        <img src="../../static/assets/images/logo.png" alt="logo-large"
                             class="logo-lg logo-light">
                        <img src="../../static/assets/images/logo-dark.png" alt="logo-large"
                             class="logo-lg">
                    </span>
            </a>
        </div>
        <!--end logo-->
        <!-- Navbar -->
        <nav class="navbar-custom">
            <ul class="list-unstyled topbar-nav float-right mb-0">
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown"
                       href="#" role="button"
                       aria-haspopup="false" aria-expanded="false">
                        <img src="../../static/assets/images/users/user9.JPG" alt="profile-user"
                             class="rounded-circle"/>
                        <span class="ml-1 nav-user-name hidden-sm">${username} <i
                                class="mdi mdi-chevron-down"></i> </span>
                    </a>
                </li>
            </ul><!--end topbar-nav-->

            <ul class="list-unstyled topbar-nav mb-0">
                <li>
                    <button class="nav-link button-menu-mobile waves-effect waves-light">
                        <i class="ti-menu nav-icon"></i>
                    </button>
                </li>

            </ul>
        </nav>
        <!-- end navbar-->
    </div>
    <!-- 页面头部 /-->
</header>