<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Crovex - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="../../static/assets/images/favicon.ico">

    <!-- DataTables -->
    <link href="../../static/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="../../static/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- App css -->
    <link href="../../static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../static/assets/css/jquery-ui.min.css" rel="stylesheet">
    <link href="../../static/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="../../static/assets/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
    <link href="../../static/assets/css/app.min.css" rel="stylesheet" type="text/css" />

</head>

<body>

<div id="header"></div>
<div id="aside"></div>
<script>
    $("#header").load("../templates/admin/header.html");
    $("#aside").load("../templates/admin/aside.html");
</script>
<!-- end left-sidenav-->

<div class="page-wrapper">
    <!-- 页面内容-->
    <div class="page-content">

        <div class="container-fluid">
            <!-- 页面标题 -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-right">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">商品信息</a></li>
                                <li class="breadcrumb-item active">商品管理</li>
                            </ol>
                        </div>
                        <h4 class="page-title">产品列表</h4>
                    </div><!--end page-title-box-->
                </div><!--end col-->
            </div>
            <!-- end page title end breadcrumb -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="mt-0 header-title">产品库存</h4>
                            <p class="text-muted mb-4 font-13">
                                可用的所有产品.
                            </p>

                            <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                <tr>
                                    <th>商品编号</th>
                                    <th>商品名称</th>
                                    <th>商品图片</th>
                                    <th>商品价格</th>
                                    <th>商品状态</th>
                                    <th>打折状态</th>
                                    <th>修改商品</th>
                                </tr>
                                </thead>
                                <tbody>
                                <c:forEach items="${shop}" var="shop">
                                    <tr>
                                        <td>${shop.shop_id}</td>
                                        <td>${shop.shop_name}</td>
                                        <td>${shop.shop_img}</td>
                                        <td>${shop.shop_money}</td>
                                        <td>${shop.statusStr}</td>
                                        <td>${shop.discountStr}</td>
                                        <td class="text-center">
                                            <%--                                            修改商品--%>
                                            <a href="${pageContext.request.contextPath}/shop/findById.do?id=${shop.shop_id}"><i class="far fa-edit text-info mr-1"></i></a>
                                            <%--                                            删除商品--%>
                                            <a href="${pageContext.request.contextPath}/shop/deleteShop.do?id=${shop.shop_id}"><i class="far fa-trash-alt text-danger"></i></a>
                                        </td>
                                    </tr>
                                </c:forEach>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row -->

        </div><!-- container -->

        <footer class="footer text-center text-sm-left">
            &copy; 2020 Crovex <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i class="mdi mdi-heart text-danger"></i> by Mannatthemes</span>
        </footer><!--end footer-->
    </div>
    <!-- end page content -->
</div>
<!-- end page-wrapper -->




<!-- jQuery  -->
<script src="../../static/assets/js/jquery.min.js"></script>
<script src="../../static/assets/js/bootstrap.bundle.min.js"></script>
<script src="../../static/assets/js/metismenu.min.js"></script>
<script src="../../static/assets/js/waves.js"></script>
<script src="../../static/assets/js/feather.min.js"></script>
<script src="../../static/assets/js/jquery.slimscroll.min.js"></script>
<script src="../../static/assets/js/jquery-ui.min.js"></script>

<!-- Required datatable js -->
<script src="../../static/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../static/plugins/datatables/dataTables.bootstrap4.min.js"></script>

<!-- App js -->
<script src="../../static/assets/js/app.js"></script>
<script>
    $('#datatable').DataTable();
</script>

</body>

</html>